{
  "target_name": "ChurchDesk",
  "dropbox_path": "/Dropbox/ShapeDevFiles/ChurchDesk/assets_ios",
  "project_name": "ChurchDesk",
  "ship_shape_distribution_lists": {
    "ChurchDesk": [
      "cs@churchdesk.com",
      "mh@churchdesk.com",
      "sc@churchdesk.com",
      "mkt@churchdesk.com",
      "am@churchdesk.com",
      "vs@churchdesk.com",
      "tdp@churchdesk.com",
      "ah@churchdesk.com",
      "sk@churchdesk.com",
      "mb@churchdesk.com",
      "bc@churchdesk.com",
      "jh@kirkeweb.de",
      "jh@churchdesk.com"
    ]
  },
  "ship_last_publish_sha": "9ed28f509054edf6751d4154a987c32d42b0f7c3"
}
