{
  "target_name": "ChurchDesk",
  "dropbox_path": "/Dropbox/ShapeDevFiles/ChurchDesk/assets_ios",
  "project_name": "ChurchDesk",
  "ship_shape_distribution_lists": {
    "ChurchDesk": [
      "cs@churchdesk.com",
      "mh@churchdesk.com",
      "sc@churchdesk.com",
      "mkt@churchdesk.com",
      "am@churchdesk.com",
      "vs@churchdesk.com",
      "tdp@churchdesk.com",
      "ah@churchdesk.com"
    ]
  },
  "ship_last_publish_sha": "f766f91ea7750f1ab49695452e87ce32d18103de"
}
